
/* 通用样式 */
*{
    padding: 0;
    margin: 0;
}
.clearfix:after{
    content:"";
    display:block;
    clear:both;
    visibility:hidden; 
}
.content,.contact-main{
    /* width: 84%; */
    min-width: 640px;
    max-width: 1200px;
    margin: 0 auto;
}
/* header */
header{
    display: flex;
}
header .logo{
    flex-grow: 1;
    width: 93px;
    height: 87px;
    line-height: 132px;
    background: #ff9985;
    text-align: center;
    color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 6px 6px #ddd;
}
header nav{
    flex-grow: 4; 
    padding-top: 50px;
}
header ul{
    list-style: none;
    text-align: center;

}
header ul li{
    display: inline-block;
    margin-left: 35px;
    margin-right: 35px;
}
header li a{
    display: block;
    width: 72px;
    height: 33px;
    line-height: 33px;
    border-radius: 3px;
    text-align: center;
    font-size: 17px;
    color: #000;
    text-decoration: none;
}
header li a:hover{
    color: #fff;
    background: #ff9985;
}
header .hover{
    color: #fff;
    background: #ff9985;
}
header .wechat{
    position: relative;
    flex-grow: 1;
    padding-top: 50px;
    text-align: right;
}
.wechat #weixinImg{
    display: none;
    position: absolute;
    right: -58px;
    bottom: -144px;
    width: 150px;
    height: 150px;
}
header .wechat img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
/* banner */
.banner{
    position: relative;
    padding-top: 100px;
    padding-left: 52px;
    padding-right: 52px;
    padding-bottom: 110px;
}
.banner-main2{
    display: none;
}
.banner-main2 .banner-text{
    text-align: center;
}
.banner-main2 .banner-text hr{
    display: none;
}
.banner-text{
    width:40%;
    padding-top: 20px;
    float: left;
}
.banner-text p{
    margin-bottom: 20px;
}
.banner-text span{
    color: #848484;
}
.banner-img{
    width:60%;
    float: left;
}
.banner-img img{
    width: 100%;
    height: 100%;
}
.banner-text h2{
    font-size: 28px;
    padding-bottom: 40px;
}
.banner-text p{
    font-size: 18px;
}
.banner-text hr{
    width: 42px;
    height: 3px;
    padding-top: 5px;
    margin-bottom: 110px;
    background: #000;
}
.banner-li{
    position: absolute;
    left: 50%;
    margin-left: -38px;
    bottom: 40px;
    text-align: center;
}
.banner-li i{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    background: #848484;
}
/* can */
.can{
    background: #ff9985;
    margin-bottom: 20px;
}
.can-main{
    position: relative;
    padding: 85px 55px;
}
.can-main .can-main-right{
    float: right;
    list-style: none;
}
.can-main .can-main-right li{
    float: left;
    margin: 1px 27px;
    text-align: center;
}
.can-main li p{
    padding-top: 10px;
    font-size: 18px;
    color: #fff;
}
.can-main .can-main-left{
    padding-left: 15px;
    width: 203px;
    height: 145px;
    float: left;
    background-image: url('../images/bgstar.png');
    color: #fff;
}
.can-main .can-main-left>h2{
    position: absolute;
    font-size: 40px;
}
.can-main .can-main-left>h3{
    position: absolute;
    bottom: 115px;
}
/* resume-top img*/
.resume-top img{
    width: 100%;
}
.resume{
    margin-top: -300px;
    margin-bottom: 300px;
}
.resume .up{
    text-align: center;
    margin-bottom: 70px;
}
.resume .up h3{
    padding-top: 30px;
    /* font-size: 28px; */
    color:#9B9B9B;
}
.resume .resume-text{
    position: relative;
}
.resume .text-auto {
    text-align: center;
}
.resume .text-auto img{
    display: block;
    margin: 0 auto;
}
.resume .img-line{
    width: 5px;
    height: 275px;
    margin: 0 auto;
    background: #f7bbb0;
}
.resume .img-text{
    box-sizing: border-box;
    padding-top: 33px;
    width: 126px;
    height: 137px;
    margin: 0 auto;
    background: url('../images/fiveSides.png') no-repeat;
    color: #fff;
    font-size: 16px;
}   
.experience h4{
    margin-bottom: 20px;
    font-size: 22px;
    color: #000;
}
.experience span{
    display: block;
    margin-bottom: 5px;
    font-size: 19px;
    color:#f7bbb0;
}
.experience p{
    margin-bottom: 5px;
    line-height: 30px;
    font-size: 19px;
    color:#4a4a4a;
}
.experience3,.experience2,.experience1{
    position: absolute;
    height: 412px;
    width:50%;
    box-sizing: border-box;
    padding: 10px 90px;
}
.experience1{
    top:0;
    right: 0;
}
.experience2{
    left: 0;
    top:412px;
    text-align: right;
}
.experience3{
    right: 0;
    top:824px;
    text-align: left;
}
/* 联系我 */
.contact{
    padding-top: 50px;
}
.contact,.copyright{
    background: #ff9985;
    color: #fff;
    text-align: center;
}
.contact-main{
    display: flex;
}
.contact-main .contact1{
    flex-grow: 1;
    text-align: center;
}
.contact1-main{
    width: 260px;
    margin: auto;
}
.contact1 .contact1-text{
    padding:0 10px;
    float: left;
}
.contact1 .contact1-text p{
    line-height: 30px;
}
.contact1 img{
    float: left;
}
.copyright{
    padding-top: 60px;
    padding-bottom:20px;
    font-size: 13px;
}

/* works.html */
.works-main{
    width:1000px;
    margin:0 auto;
    padding: 70px 0;
}
.works-main .box{
    list-style: none;
    margin-bottom: 60px;
}
.works-main .box .img{
    width: 47%;
    float: left;
}
.works-main .box .img img{
    width: 100%;
    height: 300px;
}
.works-main .box .text{
    width: 47%;
    float: right;
}
.works-main .text h2{
    width:423px;
    font-size:31px;
    color: #7B6E6B;
    font-weight:600;
}
.works-main .text span{
    display: block;
    color: #FF9985;
    width:174px;
    height:23px;
    font-size:16px;
    font-family:Arial-Black;
    font-weight:900;
    line-height:23px;
    letter-spacing:2px;
}
.works-main .text p{
    color: #9CA0A2;
    margin-bottom: 30px;
}
.works-main .text .button{
    width:242px;
    height:56px;
    background:rgba(255,153,133,1);
    line-height: 56px;
    text-align: center;
    border-radius:3px;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
}
.works-main .text .button:hover{
    background: #cc2100;
}
.works-main li:nth-last-child(odd) .text{
    float: left;
}
.works-main li:nth-last-child(odd) .img{
    float: right;
}